body{

}

.logo-container{
    height: 20vh;
}

.logo{
    margin-top: 1%;
    height: 90%;
}

.container{
    padding: 0;
}

.container-custom{
    box-shadow: 1px 1px 5px 5px lightgrey;
    height: auto;
    min-height: 80vh;
}

.content{
    padding: 2%;
}

.opening-hours{
    background: darkgray;
    height: 40vh;
}

.gallery-picture{
    width: 25vw;
    margin: auto;
    cursor: pointer;
}
.modal-body{
    display: flex;
}

.img-row {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.img-column {
    flex: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.img-column img {
    margin-top: 8px;
    /*margin-left: 14px;*/
    vertical-align: top;
    width: 90%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .img-column {
        margin-left: 3%;
        flex: 45%;
        max-width: 45%;
    }

    .member{
        flex: 50%;
        max-width: 50%;
    }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .img-column {
        margin-left: 14px;
        flex: 100%;
        max-width: 100%;
    }

    .img-column img {
        margin-left: 3%;
    }

}

@media screen and (max-width: 450px) {{
}
    .member{
        flex: 100%;
        max-width: 100%;
    }
}

#modalPicture{
    width: 100%;
}

.card{
    margin-bottom: 5%;
}

.navbar-input {
    border: 1px solid darkgray;
    border-radius: 2px;
    height: 28px;
}

.navbar-button {
    background:white;
    border: 1px solid darkgray;
    border-radius: 2px;
    color: darkgray;
    height: 28px;
}

.navbar-button:hover {
    color:black;
    border: 1px solid black;
}

p.card-text {
    min-height: 5vh;
}