.d-block{
    height: 27.5vw;
    margin: auto;
    opacity: 1.0 !important;
}

.carousel{
    background: rgb(0,0, 0, 0.5) !important;
}

.animation {
    height: 125px;
    margin-bottom: 5%;
    position: relative;
    animation: example 2s infinite;
}

@keyframes example {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



@media screen and (max-width: 768px) {

    #animationVB{
        display: none;
    }

    .d-block{
        height: 50vw ;
    }
}

@media (min-width: 768px) {

    .animation {
        animation: example 1.5s infinite;
    }

    @keyframes example {
        0%,
        100% {
            left: -14%;
        }
        50% {
            left: 44%;
            transform:rotate(180deg);
        }
    }

}

@media (min-width: 992px) {

    .animation {
        animation: example 2s infinite;
    }

    @keyframes example {
        0%,
        100% {
            left: -10%;
        }
        50% {
            left: 57.5%;
            transform:rotate(360deg);
        }
    }
}

@media (max-width: 1300px) {
    .animation {
        animation: example 2.5s infinite;
    }

    .d-block{
        height: 40vw;
    }

    @keyframes example {
        0%,
        100% {
            left: -10%;
        }
        50% {
            left: 65%;
            transform:rotate(720deg);
        }
    }
}